* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px 18px;
}
.heading {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  color: white;
}

.paragraph {
  text-align: center;
  width: 370px;
  margin: 20px auto 40px;
  color: white;
}

.call-to-action {
  background-color: purple;
  color: white;
  border-radius: 10px;
  padding: 30px 0px;
}
.call-to-action > p {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.formwrapper {
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.formwrapper > form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.formwrapper input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
}
.formwrapper button {
  background-color: aquamarine;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 14px;
}

.formwrapper small {
  color: red;
  text-align: center;
  display: inline-block;
}

/* Add responsive CSS rules here if needed, or remove this block if not used */
body {
  background-color: lightcoral;
  background-image: url("./images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-image: url("./images/bg-intro-desktop.png");
  }

  .heading {
    text-align: left;
    max-width: 500px;
    font-size: 40px;
    margin: unset;
    margin-bottom: 10px;
    color: white;
  }

  .paragraph {
    text-align: left;
    max-width: 500px;
    margin: 0;
    color: white;
  }

  .formwrapper input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  font-size: 17px;
}
}
